*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #f1f3f4;
    -webkit-font-smoothing : antialiased;
    font-family: sans-serif;
}
li{
    list-style: none;
}
.nav-top{
    padding: 0rem 5rem 1rem 5rem;
    align-self: center;
}
.nav-list{
    background-color: white;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;

}
.nav-item{
    margin-right: 2rem;
}

.nav-item a{
    text-decoration: none;
    color: #1b1f46;
    opacity: 0.7;
    transition: all 200ms ease-in;
}
.nav-item a:hover{
    background-color: #edcab650;
    border: none;
    color: #fe421b;
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.nav-logo{
    text-decoration: none;
    color: #fe421b;
    font-family: sans-serif;
    font-size: 24px;
    margin-right: auto;
    margin-left: 2rem;
    transition: ease-in-out;
    transition-duration: 200ms;
}
.nav-logo:hover{
    background-color: #1b1f46;
    border: none;
    opacity: 0.6;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
}
.main-content p{
    font-size: 1rem;
    color: #1b1f46;
    margin-bottom: 1rem;
}
.main-content-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    font-size: 1.5rem;
}
.main-content-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #1b1f46;
    margin-bottom: 1rem;
    flex-direction: column ;
}
.main-content-middle-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #1b1f46;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-direction: column;
}
.main-content-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #1b1f46;
    margin-bottom: 1rem;
    gap: 1rem;
}
.confirm-btn{
    background-color: #fe421b;
    color: white;
    padding: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in;
    font-size: 1rem;
}
.confirm-btn:hover{
    background-color: #1b1f46;
    border: none;
}
.decline-btn{
    background-color:rgba(255, 0, 0, 0.418);
    color: white;
    padding: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in;
    font-size: 1rem;
}
.decline-btn:hover{
    background-color: #1b1f46;
    border: none;
}
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    gap: 1rem;
    height: 10vh
}
.dashboard-left{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.dashboard-right{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #1b1f46;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.welcome-msg{
    font-size: 1.5rem;
    color: #1b1f46;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
}
