*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
}
.login-box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.login-box h1{
    color: #1b1f46;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
}
.textbox-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.textbox{
    border-bottom: 1px solid #1b1f46;
    margin: 10px 0;
    padding: 0.5rem 0;
    width: 100%;
    align-items: center;
    outline: none;
    transition: ease-in 200ms all;
}
.textbox input{
    border: none;
    background: none;
    outline: none;
    color: #1b1f46;
    font-size: 18px;
    width: 80%;
    margin: 0 10px;
    transition: ease-in 200ms all;
}
.btn{
    width: 100%;
    background: #1b1f46;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    transition: ease-in 200ms all;
}
.btn:hover{
    background: #1b1f46;
    opacity: 0.8;
}
.login-box a{
    text-decoration: none;
    color: #1b1f46;
    font-size: 14px;
    transition: ease-in 200ms all;
}
.login-box a:hover{
    text-decoration: underline;
    background-color: #1b1f461c;
}
.res-name{
    color: #fe4119;
    font-size: 2rem;
    margin: 10px 0;
}