body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #1b1f46;
}

.restaurants-grid {
  display: grid;
  width: 60vw;
  margin-left: 18vw;
  grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns per row */
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Centers the grid items horizontally */
}

.restaurant-card {
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 350px; /* Adjust height for visual consistency */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-card:hover {
  transform: scale(1.05);
}

.restaurant-card img {
  width: 100%;
  height: 200px; /* Consistent image height */
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.restaurant-card h2 {
  margin: 10px 0;
  padding: 10px;
  color: #1b1f46;
  font-size: 1.2rem;
  font-weight: bold;
}
.restaurant-card a {
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  color: #1b1f46;
  font-size: 1.2rem;
  font-weight: bold;
}
