* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #f1f3f4;
    -webkit-font-smoothing : antialiased;
    font-family: sans-serif;
}
.wrapper {
	display: flex;
	max-width: 90vw;
	margin: 5rem auto;
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem;
	gap: 0.5rem;
	flex-grow: 1;
	justify-content: space-evenly;
}
.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.project {
	display: flex;
}
.shop {
	flex: 75%;
}
.box {
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff;
	transition: all .6s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.box:hover {
	border: none;
	transform: scale(1.01);
}
.box img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.content {
	display: flex;
	padding: 20px;
	width: 100%;
	position: relative;
	flex-direction: column;
}
.content h3 {
	margin-bottom: 30px;
}
.content h4 {
    opacity: 0.7;
	margin-bottom: 50px;
}
.btn-area {
	border: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: #1b1f46;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1rem;
}
.btn-area:hover {
	background-color: #2b3185;
	color: #fff;
}
.unit input {
    border-color: #fe4119;
	width: 3rem;
	padding: 0.2rem;
	text-align: center;
}
.btn-area i {
	margin-right: 5px;
}
.right-bar {
	flex: 25%;
	margin-left: 20px;
	padding: 20px;
	height: 30vh;
	border-radius: 1rem;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
	margin-bottom: 1rem;
}
.right-bar p {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
    margin-bottom: 0.5rem;
}
.right-bar a {
	background-color: #fe4119;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
    border-radius: 0.5rem;
	justify-content: flex-end;
}
.right-bar i {
	margin-right: 15px;
}
.right-bar a:hover {
	background-color: #3972a7;
}
.cart{
	border-radius: 1rem;
	position: inherit;
	max-width: 60%;
	float: left;
	flex-wrap: wrap;
	padding: 2rem;
	flex-grow: 1;
}
