.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #1b1f46;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #1b1f46;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #fe4119;
    box-shadow: 0 8px 20px rgba(254, 65, 25, 0.8);
}
